<a href="https://colab.research.google.com/github/NachoIH31/CompyProg2022G1157/blob/main/Fundamentos3_CyP_1157_F25_11_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Repetición:

Este tipo de estructura nos permite automatizar la ejecucución repetitiva de código mientras ciertas condiciones se cumpan, teneemos 3 variantes de strcutura en todos los leguajes de programación:

- Desde...hasta (estructura for)
- Haz mientras (estructura While)
- Haz y luego validas mientras (estructura Do-While) 

# FOR con Python

```
for j in range(10):
    print(f"Hola { j }")   
```

# FOR con Lenguaje C y/o Java

```
for( int j=0 ; j<10 ; j=j+1 ){
    printf("Hola %i /n", j );
}  
```

En todos los lenguajes de programación existe un tipo especial de for, conocido como **for-each**

# For-each en Python
```
for color in colores:    
    print(f"Este es el color {color}")
```

In [ ]:
# función range()
# range(<INICIO>,<STOP>,<INCREMENTO>)
x = range(0,10,2)
print(x)


for j in range(10): #range(0,10) --> 0,1,2,3,4,5,6,7,8,9
    print(f"Hola {j}")

print("-.-.-.-.-.-.-.")
for j in range(0,10,2): #range(0,10) --> 0,2,4,6,8
    print(f"Hola {j}")

frutas = ["Uva","aguacate","pera","manzana","sandía"]

print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

print("---Frutas---")
for index in range(5):
    print(frutas[index])

for i in range(5):
    print("+++++")

range(0, 10, 2)
Hola 0
Hola 1
Hola 2
Hola 3
Hola 4
Hola 5
Hola 6
Hola 7
Hola 8
Hola 9
-.-.-.-.-.-.-.
Hola 0
Hola 2
Hola 4
Hola 6
Hola 8
Uva
aguacate
pera
manzana
sandía
---Frutas---
Uva
aguacate
pera
manzana
sandía
+++++
+++++
+++++
+++++
+++++

In [ ]:
 for x in range(1, 20, 1):
     print(x)
print("Fin del programa")

for x in range (19,0,-1):
    print(x)
print("Fin del programa")

In [9]:
# Ejemplo 3.3
CUECER = 0
NUM = 0
N = int(input("Introduce un valor numérico mayor que 1: "))
for I in range( 1, N+1, 1):
    N = int(input("Introduce un valor numérico mayor que 1: "))
    if N == 0:
        CUECER += 1
print("CUECER =", CUECER)

Introduce un valor numérico mayor que 1: 4
Introduce un valor numérico mayor que 1: 0
Introduce un valor numérico mayor que 1: 0
Introduce un valor numérico mayor que 1: 2
Introduce un valor numérico mayor que 1: 2
CUECER = 2

7 x 1 = 7
7 x 2 = 14
...
7 x 10 = 70

In [10]:
for x in range(1,11):
    print(f"7 X {x}: {7 * x}")

7 X 1: 7
7 X 2: 14
7 X 3: 21
7 X 4: 28
7 X 5: 35
7 X 6: 42
7 X 7: 49
7 X 8: 56
7 X 9: 63
7 X 10: 70

¿Dame un numero entre 1 y 5?: 2
¿Dame un número entre 2 y 10?: 6

In [27]:
N1=int(input('ingresa un valor entre 1 y 5: '))
if N1 > 0 and N1 <6:
    N2=int(input(f'ingresa un valor entre el {N1} y 10: '))
    if N2>=N1 and N2<= 10:
        for i in range( N1, N2+1):
            for j in range(1,11):
                print(f"{i} x {j} = ", i*j)
            print("---------------")
     
    else:
        print('El valor ingresado no esta dentro del rango')
else:
    print('El valor ingresado no esta dentro del rango')

ingresa un valor entre 1 y 5: 3
ingresa un valor entre el 3 y 10: 8
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
3 x 10 =  30
---------------
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
4 x 10 =  40
---------------
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
5 x 10 =  50
---------------
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
6 x 10 =  60
---------------
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
7 x 10 =  70
---------------
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
8 x 10 =  80
---------------

In [35]:
# Generadores de listas
numeros = [0,0,0,0,0]
print(numeros)
numeros = [ 0 for x in range(5) ]
print(numeros)

# Empleando la variable de control x para el valor inicial
numeros = [ x for x in range(5) ]
print(numeros)
# Empleando la variable de control x para el valor inicial
numeros = [ x for x in range(10,101,10) ]
print(numeros)
print("----------")
numeros=[(x+1)*10 for x in range(10)]
print(numeros)
print("----------")
numeros = [ x*10 for x in range(1,11) ]
print(numeros)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
----------
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
----------
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [45]:
# Ejercicio: calcular promedio de edades

suma = 0
edades = [0 for x in range(5)]
for x in range(5):
    edades[x] = int(input("Dame una edad: "))
    suma = suma + edades[x]
print(edades)
print("Promedio: ", suma/5)

Dame una edad: 20
Dame una edad: 21
Dame una edad: 33
Dame una edad: 25
Dame una edad: 19
[20, 21, 33, 25, 19]
Promedio:  23.6

In [54]:
import random
print(random.random())
print(random.uniform(5,11))
val = round(random.uniform(5,11) , 2)
print(val)

valores = [round(random.uniform(5,11),2) for x in range(20)]
print(valores)

""" 
1. Menor de la lista
2. Mayor de la lista
3. Promedio de la lista
""""

0.5576801638890511
7.48413715549135
5.8
[7.72, 10.0, 6.81, 7.1, 10.65, 10.97, 5.67, 8.36, 10.52, 8.24, 9.46, 9.67, 10.85, 10.49, 10.62, 8.53, 7.76, 6.46, 9.4, 9.57]